@{
    ViewBag.Title = "Welcome to ClassCloud";
}
@model IEnumerable<FreeTime.Models.Course>

<div class="wrapper col4">
  
    <div class="container">
        <div id="content">
            <div id="featured_post">
                <p>@ViewBag.Title.</p>
                <p>@ViewBag.Message</p>
                <p>Current Courses Offered:</p>
               
                
                <ul class="commentlist" id="discussion">
                    @foreach (var item in Model)
                    {
                    
                    <li class="comment_odd">
                        <div class="author">
                            <span class="name">
                                @Html.DisplayFor(modelItem => item.Name) 
                            </span>
                            <button data-bind="click: function(){searchVM.LoadCourseInfo(@item.ID)}">Go!</button>
                        </div>
                        
                    </li> }
                   
                </ul>
               
                

            </div>
        </div>
        <div id="column">
            <ul id="latestnews">
                <li>
                    <p>
                        Search for notes
                        <button data-bind="click: searchVM.test">Search!</button>
                       
                    </p>
                </li>

                <li>
                    <p>
                        Search for classes
                    </p>
                </li>
            </ul>
        </div>
        <br class="clear">
    </div>
    <br class="clear">
</div>
<script>
    $(document).ready(function () {
        VM.index.initModule();
    });
</script>